body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-background {
  background-image: url('https://media.istockphoto.com/id/1226913979/photo/cropped-image-of-hands-choosing-movie-tickets-on-screen.jpg?s=1024x1024&w=is&k=20&c=44jKw-ja0h_lxdJPj-gnGhbGe6M8OWf9rTskPkaLMO4=');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
}




.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a6d97;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
}

.content {
  padding: 20px;
  margin-bottom: 120px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
}

.container {
  text-align: center;
}


/* styles.css */
.dashboard-container {
  background: linear-gradient(45deg, #FF416C, #FF4B2B);
  color: white;
  padding: 20px;
}

